@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>At the Rubber Duck Debugging Store, we take privacy as seriously as a duck takes to water! </p>

<p>We collect minimal data: your name (or preferred quacking alias) and
the number of times you’ve ordered a rubber duck.</p>